@font-face {
  font-family: 'martin-web';
  src: url('martin-web/MARTIN-Regular.eot'); /* IE9 Compat Modes */
  src: url('martin-web/MARTIN-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('martin-web/MARTIN-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('martin-web/MARTIN-Regular.woff') format('woff');
}

html, body {
  padding:0px;
  margin:0px;
  
}

* {
  box-sizing: border-box;
}

body { 
  background-color:black;
  color:white;
  font-family:monospace;
  color:#949393;
}

a {
  color:white;
  color: #949393;
}

h1,h2 { 
  text-align:center;
  font-weight:500;

}

h1 {
  font-family:"martin-web", sans-serif;
  font-size:220px;
  margin-bottom:0;
  line-height: .7em;
  text-transform:uppercase;
  color:#505050;
  padding: 50px;
  margin-top:0;
}

h2 {

  padding-top:30px;
  font-weight:normal;
  font-size:22px;
  width:75%;
  line-height: 1.4em;
  margin:0 auto;
}

.button { 
  border:1px solid white;
  color:white;
  padding:10px 20px;
  text-align:center;
  margin:10px;
  width:fit-content;
  margin:0 auto;
  margin-bottom:100px;
  margin-top:20px;
}

.button a {
  padding:10px 20px;
  text-decoration:none;
  text-transform:uppercase;
  font-size:20px;

}

#side-button {
  position:fixed;
  top:10px;
  right:0;
  transform:rotate(-90deg);
  transform-origin: right bottom;
}
.namelist {
  max-width:1040px;
  margin:0 auto;


  &__entry {
    position:relative;
    min-height:20px;
  }

  &__line {
    position:absolute;
    left:40%;
    top:0px;
    height:100%;
    width:3px;
    background-color:#151414;
  }

  &__dot { 
   /* position:absolute;
    background-color:black;
    border-radius:40%;
    width:11px;
    height:11px;
    top:45px;
    left:-5px;
    border:2px solid black;*/
  }

  &__date {
    position:absolute;
    right: 60%;
    padding-right:20px;
    font-size:20px;
    padding-top:23px;
    color:#505050;
  }


  &__details {
    position:relative;
    left: 40%;
    padding-left:22px;
    font-size:14px;
    padding-bottom:50px;
    top:15px;
    max-width:40%;
    color:#505050;
  }

  &__name { 
    font-family:"martin-web";
    text-transform:uppercase;
    font-size:90px;
    color:#dde4e6;
    line-height:.7em;
    letter-spacing:.015em;
    word-spacing:.015em;
    padding-bottom:15px;
  }
  
  &__age {
    display:inline-block;
    padding-right:20px;
  }
  
  &__location {
    display:inline-block;
    
  }

  &__image {
    width:400px;
    height:140px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: left top;

  }

}

@media screen and (max-width:600px) {
  
  .namelist {

  &__entry {
  }

  &__line {
    left:30%;
  }

  &__date {
    right: 70%;
  }
    
  &__details { 
    left: 30%;
  }



}

  
  
  
}